<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/css/site.css">
    <title>后台管理登录</title>
</head>

<body>
<script type="text/javascript" src="/js/ribbon.js"></script>
<div style="">
    <div style="width: 400px;margin:0 auto;">
        <form action="/login" method="POST">
            <div class="container">
                <label><b>用户手机号</b></label>
                <input type="text" placeholder="Enter telephone number" name="telephone" required>

                <label><b>密码</b></label>
                <input type="password" placeholder="Enter Password" name="passWord" required>

                <button type="submit">登录</button>
            </div>
        </form>
    </div>
</div>

</body>

</html>


