<head>
    <meta charset="UTF-8">
    <title>注册</title>

    <!--图标库-->
    <script type="text/javascript" src="/public/js/ribbon.js"></script>

</head>
<div style="">
    <div style="width: 400px;margin:0 auto;">
<form aciton="/user/register" method="post">
    <div class="container">
        <label><b>昵称</b></label>
        <input type="text" placeholder="输入昵称" name="nickName" required>
        <label><b>用户名</b></label>
        <input type="text" placeholder="输入用户名" name="userName" required>
        <label><b>密码</b></label>
        <input type="text" placeholder="输入密码" name="passWord" required>
        <button type="submit">提交</button>
    </div>

</form>
    </div>
</div>